*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
.DS_Store
**/packages/
*.sln.DotSettings
*.suo

*.mdf
*.ldf

**/bootstrap/css
**/bootstrap-themes/**/css

src/PrecompiledWeb/
build-tmp/
dev-scripts/Microsoft.IdentityModel.Clients.ActiveDirectory*
Cwm.Tests.Results.xml
BuildTest/
*.orig
src/Cwm.Azure/ecf/CwmContent/diagnostics.wadcfgx
src/.vs/config/applicationhost.config
node_modules/
PublishProfiles/
*.tags
src/Cwm/bus.log.txt
src/Cwm/init.log.txt
src/Cwm/transports.log.txt
src/**/Server/sqlite3/**
**/.vs/**
